/* WEATHER CONTENT ANIMATION */
@keyframes fading-left-weather {
    from {
        margin-left: -150px;
        opacity: 0;
     }
    to {
        margin-left: 0px;
        opacity: 1;
     }
}

.fading-left-weather {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fading-left-weather;
    animation-iteration-count: 1;
}
