
.slideIn-enter {
    right: 100px;
}

.slideIn-enter-active {
    right: 0px;
    transition: .5s ease-in all;
}

.slideIn-leave {
    right:0px;
}

.slideIn-leave-active {
    right: -100px;
    transition: .5s ease-out all;
}

.slidein {
    animation: slidein 4s; /* IE 10+, Fx 29+ */
     animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
